<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Flask Users App</title>
    <style>
        body {
         background-image: url({{ url_for('static', filename='bg.png') }});  
    }
    </style>
</head>
<body>


    <div class="container card card-color">
        <center>
        <h1>Users API Appication with Swagger!</h1>
        <p>This is a simple Flask web application for user management.</p>
            <div class="d-flex m-2 text-center">
                <a class="btn-submit text-center" href="/swagger/#/default/get_users">List existing users</a>
            </div>
            <div class="d-flex m-2 text-center">
                <a class="btn-submit text-center" href="/swagger/#/default/post_new_user">Create a New user</a>
            </div>
            <div class="d-flex m-2 text-center">
                <a class="btn-submit text-center" href="/swagger/#/default/put_users_user_id__ID_">Update existing user</a>
            </div>
            <div class="d-flex m-2 text-center">
                <a class="btn-submit text-center" href="/swagger/#/default/delete_users_user_delete_id__ID_">Delete a user</a>
            </div>
    
        </center>

        <p>&nbsp;</p>




        <h1>&nbsp;</h1>


<h2>About</h2>

<hr />
<p>This simple python app is build on the Flask web framwork.</p>

<p>The function of the app is to manage simple user database through exposed API endpoints for CRUD operations.</p>

<p>&nbsp;</p>

<h2>Documentation</h2>

<hr />
<h3><span style="font-size:18px">Technical characteristics</span></h3>

<p><strong>Code base: </strong>Python3, CSS, HTML, SQLite, Flask, Swagger.</p>

<p>The backend environment is running Python 3.11.6.<br />
The users data is stored in an sqlite instance db file users.db.&nbsp;<br />
Swagger is run by a Flask, API documentation is written in the swagger.json file.<br />
The fronend homepage is a simple HTML page, Flusk loads the CSS and the index from a static directory.&nbsp;&nbsp;<br />
The webserver is running on <strong>port 8080</strong>.</p>

<p><strong>Python requirements:</strong><br />
aniso8601==9.0.1<br />
blinker==1.7.0<br />
click==8.1.7<br />
Flask==3.0.0<br />
Flask-RESTful==0.3.10<br />
Flask-SQLAlchemy==3.1.1<br />
flask-swagger==0.2.14<br />
flask-swagger-ui==4.11.1<br />
itsdangerous==2.1.2<br />
Jinja2==3.1.2<br />
MarkupSafe==2.1.3<br />
pytz==2023.3.post1<br />
PyYAML==6.0.1<br />
six==1.16.0<br />
SQLAlchemy==2.0.23<br />
typing_extensions==4.9.0<br />
Werkzeug==3.0.1</p>

<p>&nbsp;</p>

<h3>API endpoints</h3>

<p>They are five endpoints exposed for managing the users in the database.<br />
Request and responce content type is in JSON.<br />
Server:&nbsp;<a href="http://localhost:8080">http://localhost:8080</a></p>

<p>Create a new User:&nbsp;</p>

<pre>
<code class="language-html">/api/new_user</code></pre>

<blockquote>
<p>Example payload: Body</p>

<pre>
<code class="language-html">{
  "first_name": "Tony",
  "last_name": "Stak",
  "username": "ironman"
}</code></pre>
</blockquote>

<blockquote>
<p>Response: 200 OK</p>

<pre>
<code class="language-html">{
  "id": 1,
  "first_name": "Tony",
  "last_name": "Stak",
  "username": "ironman"
}</code></pre>
</blockquote>

<p>&nbsp;</p>

<p>List all users:</p>

<pre>
<code class="language-html">/api/users</code></pre>

<blockquote>
<p>&nbsp;Response: 200 OK</p>

<pre>
<code class="language-html">[	
	{
        "id": 1,
		"username": "ironman",
        "first_name": "Tony",
        "last_name": "Stak"

    }
    {
        "id": 2,
        "username": "jbond",
        "first_name": "James",
        "last_name": "Bond"
    }, {
        "id": 3,
        "username": "malin",
        "first_name": "Malin",
        "last_name": "Markov"
    }
]</code></pre>
</blockquote>

<p>&nbsp;</p>

<p>List user by ID:&nbsp;</p>

<pre>
<code class="language-html">/api/users/user/id={int}</code></pre>

<p>&nbsp;</p>

<p>Update a User:&nbsp;</p>

<pre>
<code class="language-html">/api/users/user/id={int}</code></pre>

<blockquote>
<p>&nbsp;Example payload: Body</p>

<pre>
<code class="language-html">{
  "first_name": "Tony",
  "last_name": "Stak",
  "username": "avenger"
}</code></pre>
</blockquote>

<blockquote>
<p>Response: 200 OK</p>

<pre>
<code class="language-html">{
  "id": 1,
  "first_name": "Tony",
  "last_name": "Stak",
  "username": "avenger"
}</code></pre>
</blockquote>

<p>&nbsp;</p>

<p>Delete a User:&nbsp;</p>

<pre>
<code class="language-html">/api/users/user/delete/id={int}</code></pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2>Deployments</h2>

<hr />
<h3>&nbsp;</h3>

<h3>Local install</h3>

<hr />
<p><strong>Prerequisites:</strong>&nbsp;<br />
<em>Python3, pip3, Virtualenv</em></p>

<p>To install and run the app locally follow the below instruction:</p>

<ol>
	<li>Clone the repository on your local machine.</li>
	<li>For Linux and Mac&nbsp;run the setup.sh bash script: <em>./setup.sh</em></li>
	<li>For Windows:&nbsp;
	<ol>
		<li>Install virtualenv: <em>pip install virtualenv</em></li>
		<li>Create&nbsp;virtual environment: <em>virtualenv .env</em></li>
		<li>Activate virtualenv: <em>\.env\scripts\activate</em></li>
		<li>Install the required packages: <em>pip install -r requirements.txt</em></li>
	</ol>
	</li>
	<li>Start the app: python&nbsp;<em>app.py</em></li>
	<li>Open the application in the browser:&nbsp;<a href="http://localhost:8080" target="_blank">http://localhost:8080</a></li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>Deploy the application in Docker container</h3>

<hr />
<p>Dockerization of the application streamlines the deployment and management<br />
by providing a consistent and efficient runtime environment.<br />
It&#39;s helping with dependencies, environment inconsistencies, and scalability.</p>

<p><strong>Prerequisites:&nbsp;</strong><br />
<em>Docker</em></p>

<p>To run the app in docker you will need to build the docker image.</p>

<ol>
	<li>Clone the repository on&nbsp;local or remote machine.</li>
	<li>Run the following command to build the image:&nbsp;&nbsp;<em>docker build . -t user_api_app</em></li>
	<li>Start the app with docker:&nbsp;<em>docker run --name FLASK_APP -p 8080:8080 -v .:/app user_api_app</em></li>
	<li>Open the application in the browser:&nbsp;<a href="http://localhost:8080" target="_blank">http://localhost:8080</a></li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>Deploy the application in Kuberneties Cluster</h3>

<hr />
<p>The benefits of using Kubernetes is to automate the deployment, scaling,<br />
and management of applications running in containers.<br />
It provides a platform for orchestrating and coordinating containers across a cluster of machines.</p>

<p><strong>Prerequisites:&nbsp;</strong><br />
<em>Docker, Minikube</em></p>

<p>To run the app in a Kuberneties cluster you will create a single cluster node for the deployment and the servies.&nbsp;</p>

<ol>
	<li>Clone the repository on&nbsp;local or remote machine.</li>
	<li>Install <a href="https://docs.docker.com/engine/install/" target="_blank">Docker</a> and <a href="https://minikube.sigs.k8s.io/docs/start/" target="_blank">Minikube</a>.</li>
	<li>Set an alias for the minikube to ease with the kubectl commands:&nbsp;
	<pre>
<code>alias kubectl="minikube kubectl --"</code></pre>
	</li>
	<li>Start a Kuberneties cluster:
	<pre>
<code>minikube start</code></pre>
	</li>
	<li>Deploy the application to the default namespace by using the deployment yaml file located in the repository:
	<pre>
<code class="language-bash">kubectl apply -f Kuberneties/deploy-user-api-app.yaml</code></pre>

	<p>Kuberneties will create the deployment and will start one replica pod and the service that will expose the port 8080.</p>

	<ul>
		<li>
		<p>Confirm that the pod is running.</p>

		<pre>
<code class="language-bash">$ kubectl get po
NAME                            READY   STATUS    RESTARTS   AGE
user-api-app-58598c4b89-86k6k   1/1     Running   0          51s</code></pre>
		</li>
		<li>
		<p>Confirm that the <em>user-api-app</em> service was created and running.</p>

		<pre>
<code class="language-bash">$ kubectl get svc
NAME           TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
kubernetes     ClusterIP   10.96.0.1       &lt;none&gt;        443/TCP          10m
user-api-app   NodePort    10.101.169.14   &lt;none&gt;        8080:30104/TCP   3m</code></pre>
		</li>
	</ul>
	</li>
	<li>Forward the port 8080 for the service to bevome reachable on the localhost:
	<pre>
<code class="language-bash">nohup kubectl port-forward service/user-api-app 8080:8080 &amp;</code></pre>
	</li>
	<li>Test the connection:
	<pre>
<code class="language-bash">$ nc -zv localhost 8080
Connection to localhost port 8080 [tcp/http-alt] succeeded!</code></pre>
	</li>
	<li>The application is now available at&nbsp;<a href="http://localhost:8080" target="_blank">http://localhost:8080</a></li>
</ol>

<p>&nbsp;</p>


<p>&nbsp;</p>


<p>&nbsp;</p>

<hr />
<p>2023 AppV1.2 - <a href="https://github.com/mmark0v" target="_blank">mmark0v</a></p>

      
</body>
</html>